<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!-- Firebase script -->
  <script src="https://www.gstatic.com/firebasejs/5.2.0/firebase.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">
  <link rel="stylesheet" href="assets/css/style.css">
  <title>Gamer Tagged</title>
</head>

<body>
  <main>
    <!-- Header -->

    <nav>
      <div class="col s12 nav-wrapper hf-color">
        <a href="home.html" class="brand-logo">
          <i class="material-icons icon">videogame_asset</i>Gamer Tagged</a>
        <a href="#" data-target="mobile-demo" class="sidenav-trigger">
          <i class="material-icons">menu</i>
        </a>
        <ul class="right hide-on-med-and-down">
          <li>
            <a class="waves-effect waves-light btn" id="signout-btn">Log Out</a>
          </li>
        </ul>
      </div>
    </nav>
    <!-- Mobile responsive search bar-->
    <div class="sidenav" id="mobile-demo">
      <ul>
        <li>
          <a class="waves-effect waves-light btn" id="signout-btn">Log Out</a>
        </li>
      </ul>
    </div>


    <div class="container" style="margin-top: 2%;">

      <div class="row">
        <div class="col s4 title" style="margin: 0px">
          <h3 class="card-color center-align z-depth-5" style="margin: 0; padding: 15px; border-radius: 4px">Game Library</h3>
        </div>
      </div>

      <div class="row">
        <div class="col s12">
          <div class="card card-color z-depth-5" style="padding: 10px; border-radius: 4px">
            <span class="card-title white-text">
              <div class="row">
                <div class="input-field col s5">
                  <input id="search-input" type="text" class="validate">
                  <label for="search-input">Searh For Game</label>
                </div>
              </div>
              <button class="btn waves-effect waves-light" type="submit" id="search-game">Submit
                <i class="material-icons right">send</i>
              </button>
            </span>

            <div class="card-content card-color">
              <div id="search-results"></div>
              <div id="game-div"></div>
            </div>

          </div>
        </div>
      </div>
    </div>

  </main>

  <!-- Floating Action Button -->
  <div class="fixed-action-btn">
    <a href="#" class="btn-floating floating-button-red btn-large">
      <i class="large material-icons">add</i>
    </a>
    <ul>
      <!-- Link to Home page -->
      <li>
        <a href="home.html" class="btn-floating deep-purple btn-large">
          <i class="large material-icons">home</i>
        </a>
      </li>
      <!-- Link to Profile page -->
      <li>
        <a href="profile.html" class="btn-floating indigo accent-3 btn-large">
          <i class="large material-icons">face</i>
        </a>
      </li>
      <!-- Link to Library page -->
      <li>
        <a href="library.html" class="btn-floating cyan darken-4 btn-large">
          <i class="large material-icons">library_add</i>
        </a>
        <!-- Link to AboutUs page -->
        <li>
          <a href="aboutUs.html" class="btn-floating teal darken-1 btn-large">
            <i class="large material-icons">videogame_asset
            </i>
          </a>
        </li>
      </li>
    </ul>
  </div>


  <footer class="page-footer hf-color">

    <div class="footer-copyright">
      <div class="container">
        &copy; Copyright
      </div>
    </div>

  </footer>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js"></script>
  <script src="assets/javascript/code.js"></script>
</body>

</html>