<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"crossorigin="anonymous">
  

 

  <title>Home Page</title>
  <style>
    body {
      background-image: linear-gradient(to bottom right, #27fdf5, #f765b8);
      font-family: Arial, Helvetica, sans-serif;
      padding: 0 1.5em;
      margin: 0 auto;
      text-shadow: 1px 1px #000;
      z-index: -1;
    }
  </style>
</head>

<body>


  <nav>
    <div class="nav-wrapper hf-color">

      <a href="#!" class="brand-logo">
        <i class="material-icons icon">videogame_asset</i>Gamer Tagged</a>
      <a href="#" data-target="mobile-demo" class="sidenav-trigger">
        <i class="material-icons">menu</i>
      </a>

      <ul class="right hide-on-med-and-down">
        <li>
          <a class="waves-effect waves-light btn" id="signout-btn" href="/logout">Log Out</a>
        </li>
      </ul>

    </div>
  </nav>
  {{{body}}} {{!--
  <footer class="page-footer hf-color">
    <div class="footer-copyright">
      <div class="container">
        &copy; Copyright
      </div>
    </div>
  </footer> --}}

</body>

</html>