<div id="fullpage">
	<div class="section">
        {{> splash}}
    </div>
	<div class="section">
        {{> aboutUs}}
    </div>
	<div class="section">
        {{> library}}
    </div>
	<div class="section">Some section</div>
</div>

        <!-- Floating Action Button -->
        <div class="fixed-action-btn">
            <a href="#" class="btn-floating float-button-color btn-large">
                <i class="large material-icons">add</i>
            </a>
            <ul>
                <!-- Link to Home page -->

                <!-- Link to Profile page -->
                <li>
                    <a href="profile.html" class="btn-floating deep-purple btn-large">
                        <i class="large material-icons">face</i>
                    </a>
                </li>
                <!-- Link to Library page -->
                <li>
                    <a href="library.html" class="btn-floating indigo accent-3 btn-large">
                        <i class="large material-icons">library_add</i>
                    </a>
                    <!-- Link to AboutUs page -->
                    <li>
                        <a href="aboutUs.html" class="btn-floating cyan darken-4 btn-large">
                            <i class="large material-icons">videogame_asset
                            </i>
                        </a>
                    </li>
                    <li>
                        <a href="startpage.html" class="btn-floating teal darken-1 btn-large">
                            <i class="large material-icons">create</i>
                        </a>
                    </li>
                </li>
            </ul>
        </div>



<script src="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/3.0.2/fullpage.min.js"></script>
<script>
new fullpage('#fullpage', {
    licenseKey: 'OPEN-SOURCE-GPLV3-LICENSE'
});
</script>