<div id="home">
  <div class="container">
    <div class="row">
      <div class="col-8 offset-2">
        <h1>{{msg}}</h1>
        <h2>Gamer Tagged</h2>
        <form class="clearfix mb-4" action="POST">
             <div class="form-group row">
            <label for="username-input" class="col-2 col-form-label">Username:</label>
            <div class="col-10">
              <input class="form-control" type="text" value="tom5" id="user-name">
            </div>
          </div>
          <div class="form-group row">
            <label for="fist-name-input" class="col-2 col-form-label">First Name:</label>
            <div class="col-10">
              <input class="form-control" type="text" value="Tom" id="first-name">
            </div>
          </div>
          <div class="form-group row">
            <label for="last-name-input" class="col-2 col-form-label">Last Name:</label>
            <div class="col-10">
              <input class="form-control" type="text" value="Smith" id="last-name">
            </div>
          </div>
          <div class="form-group row">
            <label for="email-input" class="col-2 col-form-label">Email:</label>
            <div class="col-10">
              <input class="form-control" type="email" value="bootstrap@example.com" id="email-input">
            </div>
          </div>

          <button id="submit" class="btn btn-primary float-right">Submit</button>
        </form>
       
      </div>
    </div>
  </div>
</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="assets/js/index.js"></script>