<div id="home">
  <div class="container">
    <div class="row">
      <div class="col-8 offset-2">
        <form>
          <div class="form-group row">
            <label for="username-input" class="col-2 col-form-label">Friend:</label>
            <div class="col-10">
              <input class="form-control" type="text" value="tom5" id="friend-input">
            </div>
          </div>
          
      </div>



      <button id="friend-submit" class="btn btn-primary float-right">Submit</button>
      </form>

    </div>
    <div class="friend-dump">
      {{#each friends}}
      <li>{{firstName}}</li>
      <li><img src="{{image}}"></li>
      <li><button id="add-friend" val={{id}}>Add</button></li>
      {{/each}}
    </div>
    <div>
      <button value="1" id="add-friend-test">Add friend</button>
    </div>
  </div>
</div>
</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="assets/js/status.js"></script>