<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>Fixed headers - fullPage.js</title>
	<meta name="author" content="Alvaro Trigo Lopez" />
	<meta name="description" content="fullPage fixed header and footer." />
	<meta name="keywords" content="fullpage,jquery,demo,screen,fixed, header,footer, absolute, positioned,css" />
	<meta name="Resource-type" content="Document" />
</head>

<select id="demosMenu">
	<option selected>Choose Demo</option>
	<option id="jquery-adapter">jQuery adapter</option>
	<option id="active-slide">Active section and slide</option>
	<option id="auto-height">Auto height</option>
	<option id="autoplay-video-and-audio">Autoplay Video and Audio</option>
	<option id="backgrounds">Background images</option>
	<option id="backgrounds-fixed">Fixed fullscreen backgrounds</option>
	<option id="background-video">Background video</option>
	<option id="callbacks-v2-compatible">Callbacks version 2</option>
	<option id="callbacks-v3">Callbacks version 3</option>
	<option id="continuous-horizontal">Continuous horizontal</option>
	<option id="continuous-vertical">Continuous vertical</option>
	<option id="parallax">Parallax</option>
	<option id="css3">CSS3</option>
	<option id="drag-and-move">Drag And Move</option>
	<option id="easing">Easing</option>
	<option id="fading-effect">Fading Effect</option>
	<option id="fixed-headers">Fixed headers</option>
	<option id="gradient-backgrounds">Gradient backgrounds</option>
	<option id="interlocked-slides">Interlocked Slides</option>
	<option id="looping">Looping</option>
	<option id="methods">Methods</option>
	<option id="navigation-vertical">Vertical navigation dots</option>
	<option id="navigation-horizontal">Horizontal navigation dots</option>
	<option id="navigation-tooltips">Navigation tooltips</option>
	<option id="no-anchor">No anchor links</option>
	<option id="normal-scroll">Normal scrolling</option>
	<option id="normalScrollElements">Normal scroll elements</option>
	<option id="offset-sections">Offset sections</option>
	<option id="one-section">One single section</option>
	<option id="reset-sliders">Reset sliders</option>
	<option id="responsive-auto-height">Responsive Auto Height</option>
	<option id="responsive-height">Responsive Height</option>
	<option id="responsive-width">Responsive Width</option>
	<option id="responsive-slides">Responsive Slides</option>
	<option id="scrollBar">Scroll bar enabled</option>
	<option id="scroll-horizontally">Scroll horizontally</option>
	<option id="scrollOverflow">Scroll inside sections and slides</option>
	<option id="scrollOverflow-reset">ScrollOverflow Reset</option>
	<option id="lazy-load">Lazy load</option>
	<option id="scrolling-speed">Scrolling speed</option>
	<option id="trigger-animations">Trigger animations</option>
	<option id="vue-fullpage">Vue-fullpage component</option>
</select>

<main>
	{{!-- Modal div for profile creation goes here --------------------------------------------- --}}
	<div class="modal fade modalRespon" id="signupModal" tainted="-1" role="dialog" aria-labelledby="signupModal" aria-hidden="true">
		<div class="modal-dialog modal-sm modal-lg" role="document">
			<div class="modal-content">
				<div class="modal-header" id="signupModalTop">
					<h5 class="modal-title" id="signupModalLabel">Profile Creation</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body" id="signupModalMiddle">
					<form class="signup">
						<div class="container-fluid">
							<div class="row">
								<div class="col col-s12 col-lg-6">

									<div class="row">
										<div class="col col-s12 col-lg-12">
											<input type="text" class="form-control modal-text" id="firstname-input" placeholder="First Name...">
										</div>
									</div>

									<div class="row">
										<div class="col col-s12 col-lg-12">
											<input type="text" class="form-control modal-text" id="username-input" placeholder="Username...">
										</div>
									</div>

									<div class="row">
										<div class="col col-s12 col-lg-12">
											<input type="text" class="form-control modal-text" id="lastname-input" placeholder="Last Name...">
										</div>
									</div>

									<div class="row">
										<div class="col col-s-12 col-lg-12">
											<input type="text" class="form-control modal-text" id="xbox-input" placeholder="Xbox Tag...">
										</div>
									</div>

									<div class="row">
										<div class="col col-s-12 col-lg-12">
											<input type="text" class="form-control modal-text" id="playstation-input" placeholder="PSN ID...">
										</div>
									</div>

									<div class="row">
										<div class="col col-s-12 col-lg-12">
											<input type="text" class="form-control modal-text" id="steam-input" placeholder="Steam ID...">
										</div>
									</div>

									<div class="row">
										<div class="col col-s12 col-lg-12">
											<input type="text" class="form-control modal-text" id="email-input" placeholder="Email...">
										</div>
									</div>

									<div class="row">
										<div class="col col-s12 col-lg-12">
											<input type="text" class="form-control modal-text" id="password-input" placeholder="Password...">
										</div>
									</div>

									<div class="row">
										<div class="col col-s12 col-lg-12">
											<input type="text" class="form-control modal-text" placeholder="Confirm Password...">
										</div>
									</div>

								</div>
							</div>



						</div>

						<div class="modal-footer" id="signupModalBottom">
							<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
							<button id="profile-submit" type="submit" class="btn btn-primary">Submit</button>
							<a class="btn btn-primary" href="/auth/facebook">Facebook</a>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>


	<div id="fullpage">


		<div class="section" id="section1">
			<div class="row">
				<div class="col s8 offset-s2">
					<div class="card">

						<span class="card-title"><h1>About Us</h1></span>

						<div class="card-content">

							<p>
								As proud gamers and dedicated developers, we do our very best to provide the gaming community with all the features we find
								lacking on today's average social website. We are constantly enhancing Gamer Tagged with suggestions given to us
								by you, the user, to create the optimal experience.
							</p>

						</div>

					</div>
				</div>
			</div>


		</div>

		<div class="section" id="section2">

			<div class="row">
				<div class="col s8 offset-s2">
					<div class="card">

						<span class="card-title"><h1>Gammer-Tagged</h1></span>

						<div class="card-content">


							<ul class="slider-text">
								<h5>
									<li>Signing up is too easy.</li>
									<li>Your profile tells your own unique story.</li>
									<li>You choose the games you love, and befriend others who love the same games.</li>
									<li>It opens the door for the exchange of tips and tricks,</li>
									<li>benefitting you and your newfound friends.</li>
									<li>A like-minded gamer makes for a reliable teammate.</li>
								</h5>
							</ul>


						</div>

					</div>
				</div>
			</div>


		</div>

		<div class="section valign-wrapper" id="section3">
			<div class="container">
				<div class="row main-content">
					<div class="col s6 offset-s3">
						<div class="row">
							<div class="col s12">
								<div class="card">

									<div class="card-content " id="top-card">
										<span class="card-title"><h3>LogIn</h3></span>
										<form class="login">
											<div class="row">
												<div class="input-field col s12">
													<label for="email-login">Email address</label>
													<input type="email" class="form-control" id="email-login">
												</div>
											</div>
											<div class="row">
												<div class="input-field col s12">
													<label for="password-login">Password</label>
													<input type="password" class="form-control" id="password-login">
												</div>
											</div>
											<div class="card-action bg-transparent loginBtn-style">
												<button type="submit" class="btn btn-wave">Login</button>
												<button class="btn" type="submit" data-toggle="modal" data-target="#signupModal" name="action" id="top-profile-modal">Create
													Profile
													<i class="material-icons right">send</i>
												</button>
											</div>
										</form>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	</div>

</main>



<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
 crossorigin="anonymous"></script>
<script data-require="jquery@*" data-semver="2.2.0" src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
<script data-require="bootstrap@*" data-semver="3.3.6" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js"></script>
<script type="text/javascript" src="assets/js/signup.js"></script>
<script type="text/javascript" src="assets/js/login.js"></script>
<script type="text/javascript" src="assets/js/fullpage.js"></script>



<script type="text/javascript">
	var myFullpage = new fullpage('#fullpage', {
		anchors: ['firstPage', 'secondPage', 'thirdPage', 'fourthPage'],
		navigation: true,
		navigationPosition: 'right',
		navigationTooltips: ['First page', 'Second page', 'Third page', 'Fourth page'],
		licenseKey: 'OPEN-SOURCE-GPLV3-LICENSE'
	});
</script>