#profileImage{
    width:190px;
    height:190px;
}
#sideNavBar{
    margin:0px;
}

.tabs-padding {
  padding: 0px !important;
}
.icon{
    margin-left:15px;
}
body{
    background-image: url(../images/milkyWay.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-repeat:no-repeat;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    position: relative;
}

.card-margin{
  margin-top:45px;
  font-family: 'Open Sans', sans-serif;
  letter-spacing:2px;
  line-height: 200%;
  margin-bottom:45px;

}

.imageResponsive{
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}

#buttonEditPicture{
position:relative;
left:160px;
bottom:30px;
}

.card-color-greenLight{
  background-color:rgb(0, 98, 128);
  color:rgb(204, 249, 255);
}

#buttonEditStatus{
  position:relative;
  left:790px;
  bottom:10px;
}

.firstParagraph{
color:white;
font-weight:bold;
font-size:20px;
}

.secondParagraph{
color:white;
font-weight:bold;
font-size:15px;
}
main{
    flex: 1 0 auto;
}
#sideBar{
    margin:15px;
    min-height: 90vh;
}
#sideBarContent{
    min-height: 85vh;
}

#test1, #test2, #test3, #test4{
    /* width:1063px; */
}
html {
    min-height: 100vh;
    position: relative;
  }
  
  body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    position: relative;
    background-image: url(../images/milkyWay.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-repeat:no-repeat;
  }
  
  main {
    flex: 1 0 auto;
    
  }
  
  .main-content {
    
    margin-bottom: 40px;
  }
      
  
  .footer-css {
    position: absolute;
    width: 100%;
    bottom: 0;
    /* margin-top: 40px; */
  }
  
  .hf-color {
    background-color: #381A57;
  }
  
  .card-color {
    background-color: #594170;
    color: #9B93A3;
  }

  .margin {
    margin-top: 45px;
  }

  .marginZero{
      padding-left: 0px !important;
      padding-right: 0px !important;

  }

  .card-color-light {
    background-color: #594170;
  }
  
  .icon {
    margin-left: 15px
  }
  .smallBox{
    margin-left:10px;
  }
  
  img {
    position: relative;
    text-align: center;
    color: white;
  }

  
  h4 {
    position: absolute;
    bottom: 45px;
    padding: 5px;
    color: #9B93A3;
    background-color: black;
    margin: 0;
    width: 100%;
    opacity: 0.8;
  }

.card-style {
  margin-top: 0px !important;
  margin-left: 250px !important;
}
  
  @media (max-width: 500px) {
    .brand-logo{
      right: 75px;
      width: 75%;
      height: 56px;
      font-size: 25px !important;
    }
  }
  
  @media (max-width: 400px) {
    .brand-logo{
      right: 75px;
      width: 75%;
      height: 56px;
      font-size: 12px;
    }
  }
  
  @media (max-width: 300px) {
    .brand-logo{
      right: 75px;
      width: 75%;
      height: 56px;
      font-size: 25px !important;
    }
  }



/* MODAL */
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: #594170;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 60%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

/* The Close Button */
.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 2px 16px;
    background-color: #381A57;
    color: white;
}

.modal-body {padding: 2px 16px;}

.modal-footer {
    padding: 2px 16px;
    background-color: #6e5e7c;
    color: white;
}
