html {
  min-height: 100vh;
  position: relative;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  position: relative;
  background-image: url(../images/milkyWay.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-repeat:no-repeat;
}

main {
  flex: 1 0 auto;
  
}

.main-content {
  margin-top: 38px;
  margin-bottom: 40px;
}
    

.footer-css {
  position: absolute;
  width: 100%;
  bottom: 0;
  /* margin-top: 40px; */
}

.hf-color {
  background-color: #381A57;
}

.card-color {
  background-color: #594170;
  color: #9B93A3;
}

.icon {
  margin-left: 15px
}

img {
  position: relative;
  text-align: center;
  color: white;
  height: 400px !important; 
  width: 515px !important;
}

h4 {
  position: absolute;
  bottom: 45px;
  padding: 5px;
  color: #9B93A3;
  background-color: black;
  margin: 0;
  width: 100%;
  opacity: 0.8;
}

/* .float-button-color {
  background-color:#594170;
} */

.loginBtn-style {
  padding: 10px;
}

.createBtn-style {
  float: right;
}

.carousel-style {
  margin-top: 40px;
}

.login-style {
  margin-top: 48px;
}


@media (max-width: 500px) {
  .brand-logo{
    right: 75px;
    width: 75%;
    height: 56px;
    font-size: 25px !important;
  }
}

@media (max-width: 400px) {
  .brand-logo{
    right: 75px;
    width: 75%;
    height: 56px;
    font-size: 12px;
  }
}

@media (max-width: 300px) {
  .brand-logo{
    right: 75px;
    width: 75%;
    height: 56px;
    font-size: 25px !important;
  }
}